.contain-01{
background-color:#ffffff;
border: 3px solid rgb(204, 204, 204);
border-radius: 10px; padding: 15px 10px;
text-align: center;
width:850px;
height:350px;
}

/* 行動版*/
@media screen and (max-width: 768px) {
    .contain-01 {
        width: 80%; /* 在小屏幕上将宽度设置为100%以适应屏幕宽度 */
        height: auto; /* 自动调整高度，以根据内容而变化 */
    }
}


.rangeslide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    width: 100%;
}

/* 行動版 */
@media (max-width: 768px) {
    .rangeslide {
        width: 80%; /* 修改宽度以适应小屏幕 */
    }
}


p{
font-size:16px;
font-family:Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif ;
color:#777777;   
}


h3{
font-size: 22px;
color:black;
font-family:Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif ;

}



.contain-fixed-txt{
    border: 1px solid #ccc; /* 定義容器的邊框 */
            padding: 10px; /* 定義容器的內邊距 */
}


.fixed-text{
    position: fixed; /* 將元素設定為固定位置 */
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    top: 20px; /* 設定距離畫面頂部的距離 */
    left: -50px; /* 設定距離畫面左側的距離 */
    padding: 100px;
    width:20px;
    height:20px;

}

.fixed-text2{
    position: fixed; /* 將元素設定為固定位置 */
    font-size:16px;
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    top: 20px; /* 設定距離畫面頂部的距離 */
    right:-40px; /* 設定距離畫面右側的距離 */
    padding:100px;
    width:20px;
    height:20px;
        

}


.custom-slider {
    -webkit-appearance: none; /* 移除默認樣式 */
    width: 600px!important; /* 設置寬度 */
    height: 10px !important; /* 設置高度 */
    background-color: #ccc; /* 背景顏色 */
    border-radius: 5px; /* 圓角邊框 */
    outline: none; /* 移除點擊時的輪廓 */
}

/* 行動版 */
@media (max-width: 768px) {
    .custom-slider {
        width: 80%; /* 修改宽度以适应小屏幕 */
    }
}





/* 滑塊（拖動按鈕）的樣式 */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    direction: ltr;
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    background-image: url('https://png.pngtree.com/png-clipart/20220111/ourmid/pngtree-car-hand-drawing-material-picture-lovely-wind-small-fresh-car-png-image_4167246.png');
    background-size: 100% 100%; /* 设置背景图片填充整个滑块 */
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}




/* 調整滑塊的顏色在拖動時 */
.custom-slider::-webkit-slider-thumb:hover {
    background-color: #0056b3; /* 滑塊的背景顏色 */
    background-image: url("https://png.pngtree.com/png-clipart/20220111/ourmid/pngtree-car-hand-drawing-material-picture-lovely-wind-small-fresh-car-png-image_4167246.png"); /* 将图片路径替换为你想要的图片 */
}




.loanresult {
    display: grid; /* 使用CSS Grid佈局 */
    grid-template-columns: repeat(3, 1fr); /* 三列，每列平均分配寬度 */
    grid-gap: 11.5px; /* 可選：添加間距 */

   }



.loantitles {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
   
}



output {
    font-size: 16px;
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    color: white;
    border: 1px solid red; /* 添加1像素宽度的红色边框 */
    background-color:red;
    width:240px;
    height: 30px;
    padding: 0px; /* 可选：添加内边距以增加内容与边框的距离 */
    margin:0px 55px;
    display: flex; /* 使用 flex 布局 */
    align-items: center; /* 垂直居中文本 */
    justify-content: center; /* 水平居中文本 */
    position: -webkit-sticky; /* 将元素设定为粘性定位 */
    position: sticky; /* 将元素设定为粘性定位 */
 

}

output::before {
    content: "NT$ ";
}




.loanAmoun {
    /* 在这里添加你的样式 */
    font-size: 16px;
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    color: black;
    border: 1px solid red; /* 添加1像素宽度的红色边框 */
    width:300px;
    height: 30px;
    padding: 0px; /* 可选：添加内边距以增加内容与边框的距离 */
    margin: 9px 50px;
    display: flex; /* 使用 flex 布局 */
    align-items: center; /* 垂直居中文本 */
    justify-content: center; /* 水平居中文本 */
    position: -webkit-sticky; /* 将元素设定为粘性定位 */
    position: sticky; /* 将元素设定为粘性定位 */
}




.month {
    /* 在这里添加你的样式 */
    font-size: 16px;
    font-family:Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    color: black;
    border: 1px solid red; /* 添加1像素宽度的红色边框 */
    width:250px;
    height: 30px;
    padding: 0px; /* 可选：添加内边距以增加内容与边框的距离 */
    margin:0px -80px;
    display: flex; /* 使用 flex 布局 */
    justify-content: center; /* 水平居中文本 */
    align-items: center; /* 垂直居中文本 */
    text-align: center; /* 文本水平居中 */
    position: -webkit-sticky; /* 将元素设定为粘性定位 */
    position: sticky; /* 将元素设定为粘性定位 */

   
}




.word100{
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    width:50px;
    height:50px;
    margin: -170px 65px;
    position: -webkit-sticky; /* 将元素设定为粘性定位 */
    position: sticky; /* 将元素设定为粘性定位 */
}




.word350{
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    width:50px;
    height:50px;
    margin:120px 750px;
    position: -webkit-sticky; /* 将元素设定为粘性定位 */
    position: sticky; /* 将元素设定为粘性定位 */

}



.money{
    font-family: Arial, 微軟正黑體, 文泉驛正黑, "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Microsoft JhengHei", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    font-size:16px;
    color:white
}

.memo{
    width: 80%;
    margin: 0 auto;

}


